{% extends "Padre_Registro.html" %}

{% load static %}

{% block Titulo %}
<h3 class="text-center font-weight-light my-4">REGISTRO DE AVANCE</h3>
{% endblock %}

{% block Formulario %}
<form action="{% url 'AvanceRegistro' %}" method="POST"> {% csrf_token %} 
    <table>

        {{ AvanceFormulario.as_table }}
        
    </table>
    <div class="me-4">
    <input class="btn btn-primary btn-block" type="submit", value="Enviar"> 
    </div>
    <a class="btn btn-primary btn-block" href="{% url 'inicio' %}">VOLVER</a>
</form>


{% endblock %}

