{% extends "Padre_Registro.html" %}

{% load static %}

{% block Titulo %}
<h3 class="text-center font-weight-light my-4">INICIO</h3>
{% endblock %}

{% block Formulario %}

<div class="text-center me-4">
    
<ul style="list-style-type: none">
<li><a class="btn btn-primary btn-block" style="margin: 5PX" href="{% url 'ProyectoRegistro' %}">Registrar proyecto</a></li>
<li><a class="btn btn-primary btn-block" style="margin: 5PX" href="{% url 'CostosRegistro' %}">Registrar Costos</a></li>
<li><a class="btn btn-primary btn-block" style="margin: 5PX" href="{% url 'AvanceRegistro' %}">Registrar Avance</a></li>
<li><a class="btn btn-primary btn-block" style="margin: 5PX" href="{% url 'BuscarProyecto' %}">Buscar Proyecto</a></li>
</ul>

</div>
{% endblock %}
 
